.content {
    width: 880px;
    height: 742px; 
    padding-top: 40px;
}

.content__cards {
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(auto-fit, 361px);
    row-gap: 20px;
    column-gap: 17px;
}