.header {
    width: 880px;
    min-height: 74px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 45px 0 0;
}

.header::after
{
    border-bottom: 1px solid #545454;
    width: 100%;
    opacity: 0.7;
    content: "";
}

.header__logo {
    width: 173px;
    height: 33px;
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .header {
        max-width: 100%;
    }

    .header::after {
        width: 99%;
    }

    .header__logo {
        margin-left: 10%;
        width: 126px;
        height: 24px; 
    }
}