.page {
    max-width: 100vw;
    min-height: 1217px;
    background-color: #000;
    background-size: cover;
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 800px) and (max-width: 1280px) {
    .page {
        max-width: 100vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .page {
        max-width: 100vw;
    }
}