.card {
    background-color: #FFF;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card__image-wrapper {
    height: 282px;
    width: 282px;
    overflow: hidden;
}

.card__image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}

.card__title {
    margin: 0;
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.card__like-button {
    height: 18px;
    width: 21px;
    background: url('../images/Like\ Button.svg') no-repeat;
    cursor: pointer;
    border: none;
    flex-shrink: 0;
    transition: opacity 0.3s ease-in-out;
}

.card__like-button_active {
    background: url('../images/Like\ Button\ Active.svg') no-repeat;
}

.card__like-button:hover {
    opacity: 0.6;
}

.card__delete-button {
    position: absolute;
    left: 90%;
    top: 5%;
    height: 18px;
    width: 19.3px;
    background: url('../images/Trash.svg') no-repeat;
    cursor: pointer;
    border: none;
    transition: opacity 0.3s ease-in-out;
}

.card__delete-button:hover {
    opacity: 0.6;
}