.page {
    max-width: 100vw;
    background-color: #000;
    background-size: cover;
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}